<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .warp {
            width: 1200px;
            margin: 0 auto;
        }

        h1,
        h2,
        h3 {
            width: 1200px;
            text-align: center;
        }
        h1{
            color: hotpink;
        }
        img{
            display: block;
            height: 500px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="warp">
        <h1>欢迎来到！晶晶红浪漫会所</h1>
        <h2>现在由888号技师为你服务</h2>
        <h3>
            <span>洗剪--20</span>
            <br>
            <span>吹--800</span>
        </h3>
        <img src="01.jpg" alt="">
    </div>
</body>

</html>