<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .err{
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>
            <span class="err"><%- errData%></span>
            <br>
            请根据以下连接选择你需要的页面
        </h1>
        <p>
            <a href="index.html">返回主页面</a>
            <a href="login.html">返回登录页面</a>
            <a href="register.html">返回注册页面</a>
        </p>
    </div>
</body>
</html>